<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-16LE">
      <title>Toll India Home </title>
      <link rel="stylesheet" href="Home_files/homepage-style.css" type="text/css">
      <link rel="stylesheet" href="Home_files/jquery-ui.css">
      <link rel="stylesheet" href="login_files/Login.css">
   </head>
   <body style="background: #8faac1;">
      <div class="wrapper">
         <div class="header" style="position: relative;">
            <img src="Home_files/logo3.jpg"> 
            <H2>ONLINE TOLL BOOKING SYSTEM</H2> 
         </div>
         <div class="menu" style="background: hsl(125, 46%, 35%);">
            <ul>
               <li>
                  <a href="#">
                  <span style="font-size: 14px;">Home</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                  <span style="font-size: 14px;">Search Plaza</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                  <span style="font-size: 14px;">Toll Plaza Between Cities </span>
                  </a>
               </li>
               <li>
                  <a href="#" onclick="showdiv();">
                  <span style="font-size: 14px;">Toll Booking</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                  <span style="font-size: 14px;">Feedback</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                  <span style="font-size: 14px;">About Us</span>
                  </a>
               </li>
               <li style=" border: none;">
                  <a href="#">
                  <span style="font-size: 14px;"> Contact Us</span>
                  </a>
               </li>
            </ul>
            <div class="CL">
            </div>
         </div>
         <div class="content">
            <div id="welcome">
            <h1 style="color:  #194e2a;"> Welcome! Arun Prasath</h1>
            <a href="#" >Logout</a>
            </div>
          <!--   <div id="logout">
                <a href="#" >Logout</a>
            </div> -->

            <div class="FL leftside" style="margin-top: 30px;">
               <h2 style="background: hsl(125, 46%, 35%);" >
                  News &amp; Events
               </h2>
               <div class="news">
                  <ul>
                     <marquee direction="up" class="topmrq" scrollamount="3" style="height:300px;" onmouseout="this.start();" onmouseover="this.stop();" id="news">
                        <li> <a href="#" target="_blank"> Year wise Toll Colelction </a></li>
                        <li> <a href="#" target="_blank"> Amendment to fee rules user fee</a></li>
                        <li> <a href="#" target="_blank"> Arriving user fee on ODC / OWC on National Highways</a></li>
                        <li> <a href="#" target="_blank">
                           Policies And Rules</a>
                        </li>
                     </marquee>
                  </ul>
                  <a href="#" style="float : right;color:  hsl(125, 46%, 35%);font: bold 12px arial;">View All</a>
               </div>
            </div>
            <div class="FR rightside" style="margin-top: 30px;">
               <div class="slider-wrapper theme-default">
                  <div class="ribbon">
                  </div>
                  <div style="position: relative; background: transparent url(&quot;images/toll-1.jpg&quot;) no-repeat scroll 0% 0% 0%;" id="slider" class="nivoSlider">
                     <a style="display: block;" class="nivo-imageLink" href="Home_files/toll-1.jpg" target="_blank">
                     <img style="display: none;" src="Home_files/toll-1.jpg" alt="" title="Indian Toll Plaza">T
                     </a>
                     <a style="display: none;" class="nivo-imageLink" href="Home_files/toll-2.jpg" target="_blank">
                     <img style="display: none;" src="Home_files/toll-2.jpg" alt="" title="Indian Toll Plaza">
                     </a>
                     <a style="display: none;" class="nivo-imageLink" href="Home_files/toll-3.jpg" target="_blank">
                     <img style="display: none;" src="Home_files/toll-3.jpg" alt="" title="Indian Toll Plaza">
                     </a>
                  </div>
                  <script type="text/javascript" src="Home_files/jquery-1_003.js"></script>
                  <script type="text/javascript" src="Home_files/jquery.js"></script>
                  <script type="text/javascript">
                     $(window).load(function () {
                         $('#slider').nivoSlider();
                     });
                  </script>
                  <div class="CL"></div>
               </div>
            </div>
            <div class="CL">
            </div>
         </div>
      </div>
      </div>
      <div class="footer">
         <p>
            <a href="#">Home</a> | <a href="#">Search Plaza</a> | <a href="#" target="_blank">Toll Plaza Between Cities</a> |
            <a href="#" target="_blank">Toll Booking</a> | <a href="#">Feedback</a> |
            About Us
            </a>| <a href="#">Contact Us</a>
         </p>
         <p>
            Developed And Supported By N.ArunPrasath
         </p>
      </div>
      <div class="fade" id="fadeProgress" style="display: none;">
      </div>
   </body>
   </body>
</html>