<!DOCTYPE html>
<html>
<head>
	<title>Toll India Login</title>
	 <link rel="stylesheet" href="login_files/homepage-style.css" type="text/css">
    <link rel="stylesheet" href="login_files/jquery-ui.css">
     <link rel="stylesheet" href="login_files/Login.css">
     
     <!-- <link rel="stylesheet" href="login_files/Page.css"> -->
<body style="background-color: #e8e4e4">
	<div class="wrapper">
	        <div class="header" style="position: relative;">
            <img src="Home_files/logo3.jpg" style="height: 105px;">
            <H2>ONLINE TOLL BOOKING SYSTEM</H2> 
         </div>
	        <div class="pannel">
	    		<p style="font-size: 15px;">WellCome To Toll Plaza Login Portal</p>
	        </div>
	        <div class="content" style="padding: 50px;"">	
				<div class="login">
				   <form class="form-signin">       
				      <h2 class="form-signin-heading">Please Register</h2>
				      <input type="text" class="form-control" name="username" placeholder="User Name" required="" autofocus="" />
				      <input type="password" class="form-control" name="password" placeholder="Password" required=""/>    
				      <input type="email" class="form-control" name="Email" placeholder="Email Address" required="" autofocus="" />  
				      <input type="text" class="form-control" name="mobile" placeholder="Mobile Number" required="" autofocus="" /><br>
				      <select id="role" class="form-control">
                       <option name="Admin">ADMIN</option>
                        <option name="Staff">STAFF</option>
                         <option name="User">USER</option>
				       </select><br>
				      <a href="TollLogin.html" class="button">CANCEL</a>
				      <button class="btn btn-lg btn-primary btn-block" type="submit" style="background: hsl(125, 46%, 35%);;">REGISTER</button>  
				    </form>
				</div>
	       </div>
	       <div class="fotterdiv">
	       	  <p style="text-align: center;font-size: 15px;background-color: hsl(125, 46%, 35%);;color: white;"> Developed By ArunPrasath </p>
	       </div>
	 </div>
</body>
</html>