<!DOCTYPE html>
<html>
<head>
	<title>Toll India Login</title>
	 <link rel="stylesheet" href="login_files/homepage-style.css" type="text/css">
    <link rel="stylesheet" href="login_files/jquery-ui.css">
     <link rel="stylesheet" href="login_files/Login.css">
     
     <!-- <link rel="stylesheet" href="login_files/Page.css"> -->
<body style="background-color: #e8e4e4">
	<div class="wrapper">
	        <div class="header" style="position: relative;">
            <img src="images/logo3.jpg" style="height: 105px;"> 
            <h2>ONLINE TOLL BOOKING SYSTEM</h2> 
         </div>
	        <div class="pannel">
	    		<p style="font-size: 15px; ">WellCome To Toll Plaza Login Portal</p>
	        </div>
	        <div class="content" style="padding: 200px;">	
				<div class="login">
				   <form class="form-signin">       
				      <h2 class="form-signin-heading">Please login</h2>
				      <input type="email" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
				      <input type="password" class="form-control" name="password" placeholder="Password" required=""/>      
				      <label class="checkbox">
				        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
				      </label>
				      <button class="btn btn-lg btn-primary btn-block" type="submit" style="background: hsl(125, 46%, 35%);">Login</button>
				      <a href="TollRegister.html" class="button">Register</a>
				      <a href="TollRegister.html" class="button">Forgot Password</a>
				    </form>
				    <!-- <button class="btn btn-lg btn-primary btn-block"  style="background: #0a6d13;" onclick="TollRegister.html">Register</button>  -->
				</div>
	       </div>
	       <div class="fotterdiv">
	       	  <p style="text-align: center;font-size: 15px;background-color:hsl(125, 46%, 35%);;color: white;"> Developed By ArunPrasath </p>
	       </div>
	 </div>
</body>
</html>